body {
    max-width: max-content;
    width: 100%;
}

header {
    background-color: #6c757d;
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 8px;
}
header h1 {
    flex-grow: 2;
    width: 100%;
}

ul {
    display: inline-flex;
    justify-content: flex-end;
    top: 50%;
    transform: translate(0, 25%);
}
ul li {
    margin-right: 12px;
}

ul li a {
    color: rgba(0, 0, 0, var(--tw-text-opacity));
    font-weight: bold;
    text-align: center;
}

#texto {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: 40px;
    margin-top: 32px;
    margin-bottom: 100px;
}

h2 {
    text-align:center;
    margin-top: 24px;
    margin-bottom: 80px;
}

h3 {
    margin-top: 48px;
    margin-bottom: 64px;
}

.titulo-in {
    margin-bottom: 24px;
}

#inputTextID {
    display: flex;
    justify-content: center;
    width: 60%;
    border-radius: 20px;
}

.titulo-out {
    margin-top: 28px;
    margin-bottom: 24px;
}

#outputTextID {
    display: flex;
    justify-content: center;
    width: 60%;
    border-radius: 20px;
    margin-bottom: 24px;
}

#buttons {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin-bottom: 48px;
}

#maiusculo {
    margin-right: 5px;
    width: 250px;
    height:50px;
    border-radius: 24px;
}
#maiusculo:hover {
    margin-right: 5px;
    width: 300px;
    height:75px;
    border-radius: 24px;
}

#minusculo {
    margin-right: 5px;
    width: 250px;
    height:50px;
    border-radius: 24px;
}
#minusculo:hover {
    margin-right: 5px;
    width: 300px;
    height:75px;
    border-radius: 24px;
}

#capitalizar {
    margin-right: 5px;
    width: 250px;
    height:50px;
    border-radius: 24px;
}
#capitalizar:hover {
    margin-right: 5px;
    width: 300px;
    height:75px;
    border-radius: 24px;
}

#upperLower {
    margin-right: 5px;
    width: 250px;
    height:50px;
    border-radius: 24px;
}
#upperLower:hover {
    margin-right: 5px;
    width: 300px;
    height:75px;
    border-radius: 24px;
}

#lowerUpper {
    margin-right: 5px;
    width: 250px;
    height:50px;
    border-radius: 24px;
}
#lowerUpper:hover {
    margin-right: 5px;
    width: 300px;
    height:75px;
    border-radius: 24px;
}

#inverse {
    margin-right: 5px;
    width: 250px;
    height:50px;
    border-radius: 24px;
}
#inverse:hover {
    margin-right: 5px;
    width: 300px;
    height:75px;
    border-radius: 24px;
}

#reverse {
    margin-right: 5px;
    width: 250px;
    height:50px;
    border-radius: 24px;
}
#reverse:hover {
    margin-right: 5px;
    width: 300px;
    height:75px;
    border-radius: 24px;
}

#clipboard {
    width: 250px;
    height:56px;
    border-radius: 24px;
}
#clipboard:hover {
    width: 300px;
    height:75px;
    border-radius: 24px;
}

#explicacao {
    display: block;
    width: 80%;
}

#medida {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: 40px;
    margin-top: 32px;
    margin-bottom: 100px;
}

.medida-titulo {
    text-align:center;
    margin-top: 24px;
    margin-bottom: 60px;
}

#inputNumberID {
    display: flex;
    justify-content: center;
    width: 80%;
    border-radius: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
}

#inputMeterID {
    width: 52px;
    height:32px;
    border-radius: 16px;
}

#outputNumberID {
    display: flex;
    justify-content: center;
    width: 80%;
    border-radius: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
}

#outputMeterID {
    width: 52px;
    height:32px;
    border-radius: 16px;
}