body {
    width: 100%;
}

header {
    background-color: brown;
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 8px;
}
header h1 {
    flex-grow: 2;
}

ul {
    display: inline-flex;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    justify-content: flex-end;
    margin-top: 16px;
}
ul li {
    margin-right: 12px;
}

ul li a {
    color: rgba(0, 0, 0, var(--tw-text-opacity));
    font-weight: bold;
}

section {
    width: 630px;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
}

h2 {
    text-align:center;
    margin-top: 24px;
    margin-bottom: 48px;
}

textarea {
    margin-bottom: 80px;
}

textarea h3 {
    margin-bottom: 48px;
}

#outputID {
    margin-bottom: 24px;
}

#buttons {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

#maiusculo {
    margin-right: 5px;
    width: 250px;
    height:50px;
    border-radius: 24px;
}
#maiusculo:hover {
    margin-right: 5px;
    width: 300px;
    height:75px;
    border-radius: 24px;
}

#minusculo {
    margin-right: 5px;
    width: 250px;
    height:50px;
    border-radius: 24px;
}
#minusculo:hover {
    margin-right: 5px;
    width: 300px;
    height:75px;
    border-radius: 24px;
}

#capitalizar {
    margin-right: 5px;
    width: 250px;
    height:50px;
    border-radius: 24px;
}
#capitalizar:hover {
    margin-right: 5px;
    width: 300px;
    height:75px;
    border-radius: 24px;
}

#upperLower {
    margin-right: 5px;
    width: 250px;
    height:50px;
    border-radius: 24px;
}
#upperLower:hover {
    margin-right: 5px;
    width: 300px;
    height:75px;
    border-radius: 24px;
}

#lowerUpper {
    margin-right: 5px;
    width: 250px;
    height:50px;
    border-radius: 24px;
}
#lowerUpper:hover {
    margin-right: 5px;
    width: 300px;
    height:75px;
    border-radius: 24px;
}

#clipboard {
    width: 250px;
    height:56px;
    border-radius: 24px;
    font-size: 14px;
}
#clipboard:hover {
    width: 300px;
    height:75px;
    border-radius: 24px;
}

textarea h4 :first {
    margin-top: 64px;
}